<div class="card bg-primary" style="width: 18rem;">
  <%= image_tag movie.poster_url, alt: "movie poster", class: "card-img-top"%>
  <div class="card-body" data-controller="movie-card">
    <div class="card-headers">
      <h5 class="card-title"><%= movie.title %></h5>
      <i class="fa-solid fa-chevron-down" title="overview"  data-action="click->movie-card#more"></i>
    </div>
    <p class="card-text" data-movie-card-target="overview"><%= movie.overview %></p>
  </div>
</div>