<div class="container list-card">
  <div class="list-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path list.banner.key, crop: :fill %>);"></div>
  <h2 class="position-absolute top-50 start-50 translate-middle"><%= list.name %></h2>
</div>