<h1 class="my-4">Your lists</h1>


<% if @lists.empty? %>
  <p class="fst-italic position-absolute top-50 start-50 translate-middle">No list yet</p>
<% else %>
  <div class="row g-5">
    <% @lists.each do |list|%>
      <div class="col-lg-4">
        <div class="d-flex justify-content-center align-items-center">
          <%= link_to list_path(list), class: "d-block", style: "width: 18rem; height: 10rem;" do %>
            <%= render "list_card", list: list %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
  

