.list-card {
  background-color: $primary;
  position: relative;
  width: 18rem;
  height: 10rem;
  border-radius: $border-radius;

  .list-card-image {
    object-fit: cover;
    object-position: center;
    width: 18rem;
    height: 10rem;
    filter: brightness(0.4);
    border-radius: $border-radius;

  }
}