.list-card {
  background-color: $primary;
  position: relative;
  width: 18rem;
  height: 10rem;
  border-radius: $border-radius;

  .list-card-image {
    width: 18rem;
    height: 10rem;
    border-radius: $border-radius;
    background-position: center;
    background-size: cover;
  }

  h2 {
    text-align: center;
  }
}

.big-input-file::file-selector-button {
  color: $dark
}