.color-gray {
  color: $gray
}

// .card {
//   width: 18rem;
// }

.card-headers {
  position: relative;
  display: flex;
  align-items: center;

  h5 {
    flex-grow: 1;
  }

  .fa-chevron-down {
    font-size: 1rem;
    cursor: pointer;
  }
}

.card-body {
  font-size: 0.8rem;
  display: block;
  overflow: hidden;
  color: $gray;
  opacity: 0.9;
  position: relative;
}

.card-details {
  height: 0px;
  overflow: hidden;

  div p {
    color: rgb(95, 95, 95);
  }
}

.overview-open {
  height: auto;
}